{% load static %}
<section class="trainer-section overflow-hidden spad">
    <div class="container">
        <div class="section-title text-center">
            <img src="img/icons/logo-icon.png" alt="">
            <h2>Our Trainer Yoga</h2>
            <p>Practice Yoga to perfect physical beauty, take care of your soul and enjoy life more fully!</p>
        </div>
        <div class="trainer-slider owl-carousel">
            <div class="ts-item">
                <div class="trainer-item">
                    <div class="ti-img">
                        <img src="{% static 'img/trainer/1.png' %}" alt="">
                    </div>
                    <div class="ti-text">
                        <h4>Lori Kennedy</h4>
                        <h6>Yoga Trainer</h6>
                        <p>Yoga & Therapy Certificate of Uttarakhand University Sanskrit</p>
                        <div class="ti-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>