{% load static %}
<section class="wwd-section spad set-bg" data-setbg="{% static 'img/wwd-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 ml-auto">
                <div class="wwd-text">
                    <h3>What we do</h3>
                    <p>To be invited to the nearest Cali center and get free physical advice to learn more about the program.</p>
                    <div class="single-progress-item">
                        <p>Breathing</p>
                        <div class="progress-bar-style" data-progress="84"  data-bgcolor="#f76d63"></div>
                    </div>
                    <div class="single-progress-item">
                        <p>Metabolism</p>
                        <div class="progress-bar-style" data-progress="75"  data-bgcolor="#f76d63"></div>
                    </div>
                    <div class="single-progress-item">
                        <p>Flexibility</p>
                        <div class="progress-bar-style" data-progress="90"  data-bgcolor="#f76d63"></div>
                    </div>
                    <div class="single-progress-item">
                        <p>Strongness</p>
                        <div class="progress-bar-style" data-progress="78"  data-bgcolor="#f76d63"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>