{% load static %}
<section class="trainers-page-section spad overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="trainer-item">
                    <div class="ti-img">
                        <img src="{% static 'img/trainer/q.png' %}" alt="">
                    </div>
                    <div class="ti-text">
                        <h4>Атаджанов Рустам Фархадович</h4>
                        <h6>Йога Инструктор</h6>
                        <p>Yoga & Therapy Certificate of Uttarakhand University Sanskrit</p>
                        <div class="ti-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-pagination">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#"><i class="material-icons">keyboard_arrow_right</i></a>
        </div>
    </div>
</section>