{% load static %}
<header class="header-section">
    <div class="header-bottom">
        <a href="index.html" class="site-logo">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <div class="container">
            <ul class="main-menu">
                <li><a href="{% url 'main:home_page'%}" class="active">Главная</a></li>
                <li><a href="{% url 'main:about_page'%}">О нас</a></li>
                {% comment %} <li><a href="classes.html">Classes</a>
                    <ul class="sub-menu">
                        <li><a href="classes.html">Our Claasses</a></li>
                        <li><a href="classes-details.html">Claasses Details</a></li>
                    </ul>
                </li>
                <li><a href="trainer.html">trainers</a>
                    <ul class="sub-menu">
                        <li><a href="trainer.html">Our Trainers</a></li>
                        <li><a href="trainer-details.html">Trainers Details</a></li>
                    </ul>
                </li>
                <li><a href="events.html">events</a>
                    <ul class="sub-menu">
                        <li><a href="events.html">Our Events</a></li>
                        <li><a href="event-details.html">Events Details</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Our Blog</a></li>
                        <li><a href="single-blog.html">Blog Details</a></li>
                    </ul>
                </li> {% endcomment %}
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</header>