{% load static %}
<header class="header-section">
    <div class="header-bottom">
        <a href="index.html" class="site-logo">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <div class="container">
            <ul class="main-menu">
                <li><a href="{% url 'main:home_page' %}" class="active">Главная</a></li>
                <li><a href="{% url 'main:about_page' %}">О нас</a></li>
                <li><a href="{% url 'main:trainer_page' %}">Инструктор</a></li>
                <li><a href="{% url 'main:contact_page' %}">Контакты</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#">Админ</a>
                        <ul class="sub-menu">
                            <li><a href="#">Профиль</a></li>
                            <li><a href="{% url 'logout' %}">Выход</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>