<form class="singup-form contact-form">
    <div class="row">
        <div class="col-md-6">
            <input type="text" placeholder="First Name">
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="Last Name">
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="Your Email">
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="Phone Number">
        </div>
        <div class="col-md-12">
            <textarea placeholder="Message"></textarea>
            <a href="#" class="site-btn sb-gradient">Send message</a>
        </div>
    </div>
</form>